/* 共通定義 */
:root {
    --main-color: #fff;
    --access-content-wrapper-width: 100px;
    --access-map-width: 50%;
    --section-margin-top: 70px;
    --break-point-sp: 670px;
}

html {
    background: #fff;
}
body{
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 0 ;
    background: var(--main-color);
    margin: 0;
    font-family: "Noto Serif JP", "游明朝", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "Times New Roman", Times, Garamond, Georgia, serif !important;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    margin-bottom: 20px;
    padding: 20px;
    background :#111;
    color: #fff;
    align-items: center;
    font-size: 1.3em;
    z-index: 800;
    box-sizing: border-box;
}
@media (max-width: 670px){
    html {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    body{
        width: 100vw;
    }
}


.background-black{
    background: #111;
    width: 100vw;
    height: 100%;
}
.top-contents-area {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
}
iframe{
    width: 90%;
    height: 90%;
    margin: 0 auto;
}



@media (max-width: 670px){
    .background-black{
        width: 100vw;
        height: 100vh;
    }
}


div{
    box-sizing: border-box;
}





p{
    text-align: center;
    margin: 20px 0;
    font-size:1.5rem;
}



