/* 共通定義 */
:root {
    --main-color: #fff;
    --access-content-wrapper-width: 100px;
    --access-map-width: 50%;
    --section-margin-top: 70px;
    --break-point-sp: 670px;
}

html {
    background: #fff;
}
body{
    position: relative;
    background: var(--main-color);
    margin: 0;
    padding: 0 50px 20px;
    font-family: "Noto Serif JP", "游明朝", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "Times New Roman", Times, Garamond, Georgia, serif !important;
}
header{
    position: fixed;
    width: calc( 100% - 100px);
    margin-bottom: 20px;
    padding: 20px 0;
    background :white;
    align-items: center;
    font-size: 1.3em;
    z-index: 800;
}
@media (max-width: 670px){
    html {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    body{
        margin: 0;
        padding: 0 20px 20px;
        width: calc( 100% - 40px);
    }
    header{
        width: calc( 100% - 40px);
        font-size: 0.9em;
    }
}


.sp-hidden{
    display: block;
}
.pc-hidden{
    display: none;
}
@media (max-width: 670px){
    .sp-hidden{
        display: none;
    }
    .pc-hidden{
        display: block;
    }
}
.flex{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}



/* #kanban-mask{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 70px 50px;
    background: #1119;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
#kanban-img{
    position: relative;
    box-sizing: border-box;
    color: #fff;
    align-items: center;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    animation: image_anime 50s ease infinite;
    z-index: 10;
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    justify-content: space-around;
}
#kanban-img>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width: 670px){
    #kanban-mask{
        padding: 70px 20px;
    }
} */



h2{
    width: 100%;
    margin: 0 auto 30px;
    text-align: center;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.h2-logo:before{
    content: "";
    display: inline-block;
    background: url(../img/logo/h_logo_ja.png);
    background-size: cover;
    width: 150px;
    height: 150px;
    position: absolute;
}
h2.en{
    -ms-writing-mode: tb-tb;
    writing-mode: horizontal-tb;
    height: 150px;
}
h2.en:before{
    background: url(../img/logo/h_logo_en.png);
    background-size: cover;
    width: 150px;
    height: 150px;
    position: absolute;
}

.h2-logo>p{
    z-index: 10;
}
@media (max-width: 670px){
    h2{
        margin: 0 auto 10px;
    }
    .h2-logo:before{
        content: "";
        display: inline-block;
        background: url(../img/logo/h_logo_ja.png);
        background-size: cover;
        width: 100px;
        height: 100px;
        position: absolute;
    }
    .h2-logo>p{
        font-size: 0.6em;
    }
}


a{
    color: #333;
}






/* メニュー関連 */
.hamburger{
    position:relative;
    width: 30px;
    height: 30px;
    margin: 0 20px 0 0;
    cursor: pointer;
}
.hamburger::before,
.hamburger::after{
    position: absolute;
    top: 9px;
    content: "";
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background: #333;
}
.hamburger::after{
    top: 18px;
}
@media (max-width: 670px){
    .hamburger{
        margin: 0 10px 0 0;
    }
}
.menu-mask{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #111a;
    z-index: 1000;
}
.menu-bar{
    position: fixed;
    width: 200px;
    height: 100vh;
    top: 0;
    left: -220px;
    padding: 20px 10px;
    background: #fff;
    z-index: 1001;
    transition: 0.2s;
}
.menu-bar.on{
    left: 0;
}
.menu-bar>ul{
    padding: 0;
}
.menu-bar>ul>li{
    list-style-type: none;
    margin: 0 0 10px;
}
.sns-area {
    margin: 0 0 0 auto;
    font-size: 0.7em;
}

.sns-contents{
    padding: 0 15px;
    margin: 0 0 0 10px;
    font-size: 1.3em;
    align-items: center;
    text-decoration: none;
    transition: 0.2s;
}
.sns-contents:hover{
    margin: 0 10px 0 0;
}

.sns-contents > img{
    width: 40px;
    height: 40px;
    padding-right: 10px;
}
.language-change-btn{
    background: #ccc;
}

@media (max-width: 670px){
    .sns-contents{
        padding: 0 5px;
        margin: 0;
        font-size: 2em;
    }
    .sns-contents:hover{
        margin: 0;
    }
    .language-change-btn{
        font-size: 1.2em;
        padding: 0 10px;
    }
}




.side-menu{
    font-weight: 600;
}
.side-menu > li > a{
    font-weight: 600;
    text-decoration: none;
    transition: 0.2s;
}

.side-menu > li > a:hover{
    padding : 0 0 0 5px;
}








/* 予約button */
.reserve-section{
    position: fixed;
    top: 40%;
    color: #fff;
    background: red;
    border: solid 1px red;
    right: 30px;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    padding: 30px 10px;
    transition: 0.2s;
    z-index: 500;
}
.reserve-section:hover{
    top: 39%;
    color: red;
    background: #fff;
    border: solid 1px red;
    padding: 40px 12px;
    z-index: 500;
}
@media (max-width: 670px){
    .reserve-section{
        right: 5px;
    }
}


.top-image-section{
    width: 100%;
    box-sizing:border-box;
    display: block;
}
div{
    box-sizing: border-box;
}

.parallax-bg {
    box-sizing: border-box;
    color: #fff;
    align-items: center;
    min-height: 100vh;
    padding: 100px 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    animation: image_anime 50s ease infinite;
    z-index: 10;
    object-fit: cover;
    width: 100%;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-flow: wrap;
    justify-content: space-around;
}
.parallax-bg-en {
    box-sizing: border-box;
    color: #fff;
    align-items: center;
    min-height: 100vh;
    padding: 100px 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    animation: image_anime 50s ease infinite;
    z-index: 10;
    object-fit: cover;
    width: 100%;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-flow: wrap;
    justify-content: space-around;
}
@media (max-width: 670px){
    .parallax-bg {
        margin: 0 0 50px;
    }
    .top-contents-area{
        background-attachment: scroll;
    }
    .top-contents-area>div{
        background-attachment: scroll;
    }
}

.top-logo{
    position: relative;
    top: 100px;
    height: 500px;
    z-index: 20;
    margin: 0 auto;
}
.top-logo-box>img {
    top: 0;
}
@media (max-width: 670px){
    .top-logo-box>img {
        top: 0;
    }
    .top-logo{
        height: 200px;
    }
}

.top-logo-1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* top: 100px;*/
    height: 500px;
    z-index: 20;
    margin: 0 auto;
}
@media (max-width: 670px){
    .top-logo-1{
        height: 200px;
    }
}



.parallax-bg-text-area{
    z-index: 20;
    padding: 70px 10px 50px;
}
@media (max-width: 670px){
    .parallax-bg-text-area{
        padding: 50px 30px 50px 20px;
    }
}










.greeting-wrapper{
    font-size: 2.8em;
    text-shadow: -1px -1px 3px #333,
                1px 1px 3px #111;
}
.greeting-text{
    font-size: 1.5em;
    margin: 0 0 50px;
    line-height: 1.8;
    text-shadow: -1px -1px 3px #333,
                1px 1px 3px #111;
}

@media (max-width: 670px){
    .greeting-wrapper{
        font-size: 1.5em;
    }
    .greeting-text{
        font-size: 1em;
        line-height: 1.3;
        text-align: left;
        margin: 0 0 15px;
        font-size: 0.9em;
    }
    .greeting-text.last{
        padding: 0 20px 100px 0;
        text-align: right;
        font-size: 1.2em;
    }
}





.commitment-section{
    padding: var(--section-margin-top) 0 0;
}
.notice-section{
    padding: var(--section-margin-top) 0 10px;
}
.access-section{
    padding: var(--section-margin-top) 0 100px;
}




/* こだわり */
.commitment-contents-area{
    width: 100%;
    position: relative;
    margin: 0 0 100px;
}
@media (max-width: 670px){
    .commitment-contents-area{
        margin: 0 0 30px;
    }
}



.commitment-content-image{
    position: relative;
    width: 100%;
    height: 90vh;
}
.commitment-content-image::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #1115;
}


.commitment-content-image>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.commitment-content-wrapper{
    visibility: hidden;
    display: table;
    width: 65%;
    position: absolute;
    color: var(--main-color);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.commitment-content-title{
    font-size: 2.5em;
    margin: 0 0 20px;
    text-shadow: -1px -1px 3px #333,
                1px 1px 3px #111;
}
.commitment-content-content{
    font-size: 1.2em;
    text-shadow: -1px -1px 3px #333,
                1px 1px 3px #111;
}

@media (max-width: 670px){
    .commitment-content-wrapper{
        width: 90%;
        margin: auto;
        padding: 0 20px 0 10px;
    }
    .commitment-content-title{
        font-size: 1.2em;
    }
    .commitment-content-content{
        font-size: 0.9em;
    }
}
.img-list-bg-black{
    background: #222;
    position: relative;
    width: 100%;

}
.img-list{
    width: 100%;
    height: 1000px;
    background-image: url("../img/photo/top_001.png");
    padding: 100px 0 0;
    position: relative;

    background-attachment: fixed;
    background-repeat: no-repeat;
    object-fit: cover;

    background-position: center center;
    background-size: cover;
}
.img-list>img{
    /* width: 100%;
    position: absolute; */
}
.opacity-on{
    opacity: 1;
}
.opacity-off{
    opacity: 0;
}





/* お知らせ */
.notice-contents{
    width: 100%;
    max-width: 900px;
    margin: 50px auto 0;
}
.notice-content-wrapper{
    padding: 0 5px 0;
    margin: 0 0 5px;
    font-size: 1.5em;
    border-bottom: solid 1px #888 ;
}
.notice-content-images{
    width:80%;
    padding: 0 0 0 100px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}
.pop-up-images{
    position: relative;
    width: 48%;
    background: #3333;
}
.pop-up-images::before {
    content: "";
    display: block;
    padding-top: 75%;  /* 4:3 */
}
.pop-up-images>img{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 670px){
    .notice-content-images{
        width: calc(100% - 20px);
        padding: 0;
        }
}

.images-pop-up-btn{
    position: absolute;
    top: 5px;
    right: 5px;
    height: 35px;
    width: 35px;
    fill: #fff;
}
.notice-content-support{
    font-size: 0.85m;
    padding: 0 0 0 20px;
    margin: 0;
    text-align: left;
}
.lunch-menu-name{
    margin: 10px 0 0;
    padding: 0 0 0 5px;
    text-align: left;
    border-left: solid 5px #333;
}
.en-read{
    font-size: 0.7em;
}
.lunch-menu-comment{
    font-size: 16px;
    margin: 0;
    text-align: left;
}
.important-span{
    color: red;
}

@media (max-width: 670px){
    .lunch-menu-name{
        padding: 10px 0 5px 5px;
        line-height: 0.8em;
    }
    .notice-content-image{
        width: 100%;
        height: auto;
    }
    .en-read{
        font-size: 0.5em;
    }
}






/*  */
.chef-greetings-text{
    padding: 0 0 0 20px;
}
.click-for-commitment{
    margin: 20px auto;
    text-align: right;
}

@media (max-width: 670px){
    .chef-greetings-text{
        padding: 0 30px 0 20px;
    }
}





/* access */
.access-area{
    width: 100%;
}
.access-map{
    width: var(--access-map-width);
}
.access-contents{
    width: calc(100% - var(--access-map-width));
    padding: 10px 50px;
}
.access-content-row{
    width: 100%;
    margin: 0 0 20px;
    border-bottom: solid 1px #ccc;
}
.access-content-wrapper{
    width: var(--access-content-wrapper-width);
    font-weight: 800;
}
.access-content{
    width: calc(100% - var(--access-content-wrapper-width));
}


@media (max-width: 670px){
    .access-area{
        display: block;
    }
    .access-map{
        width: 100%;
    }
    .access-contents{
        width: 100%;
        padding: 0px;
    }
    .access-content-row{
        margin: 10px 0 20px;
        padding: 0 0 0 10px;
    }
    .access-content-wrapper{
        width: 90px;
        font-size: 0.9em;
    }
    .access-content{
        width: calc(100% - 90px);
        font-size: 0.8em;
    }
}









p{
    text-align: center;
    margin: 20px 0;
    font-size:1.5rem;
}






.move-arrow-area{
    position : fixed;
    right: 100px;
    bottom: 100px;
    height: 150px;
    width: 30px;
    cursor: pointer;
    transition: 0.2s;
    z-index: 200;
}
.move-arrow-area:hover{
    bottom: 80px;
}
.move-arrow-area.back-to-top{
    transform: rotate(180deg);
}
.move-arrow-area.back-to-top:hover{
    bottom: 120px;
}

.move-arrow{
    position: relative;
}
.move-arrow::before{
    content: "";
    display: block;
    position: absolute;
    bottom: -150px;
    left: 11px;
    width: 2px;
    height: 150px;
    background: #fff;
    box-shadow: -1px 10px 8px 0 rgb(24, 46, 53);
}
.move-arrow::after{
    content: "";
    display: block;
    position: absolute;
    bottom: -157px;
    right: 4px;
    width: 2px;
    height: 40px;
    transform: rotate(-135deg);
    background: #fff;
    box-shadow: -1px 10px 8px 0 rgb(24, 46, 53);
}







/* こだわりのアニメーション */
.imgFadeIn {
    -webkit-animation-fill-mode:both;
    -ms-animation-fill-mode:both;
    animation-fill-mode:both;
    -webkit-animation-duration: 2s;
    -ms-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-name: imgFadeIn;
    animation-name: imgFadeIn;
    visibility: visible !important;
}
@-webkit-keyframes imgFadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes imgFadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.imgTextFadeIn {
    -webkit-animation-fill-mode:both;
    -ms-animation-fill-mode:both;
    animation-fill-mode:both;
    -webkit-animation-duration: 2s;
    -ms-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-name: imgTextFadeIn;
    animation-name: imgTextFadeIn;
    visibility: visible !important;
}
@-webkit-keyframes imgTextFadeIn {
    0% { opacity: 0; }
    20% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes imgTextFadeIn {
    0% { opacity: 0; }
    20% { opacity: 0; }
    100% { opacity: 1; }
}





.Facebook:before,
.Twitter:before,
.Instagram:before {
    font-family: "Font Awesome 5 Brands";
    margin: 0 5px 0 0;
    color: #777;
}

.Facebook:before {
    content: "\f082";
}
.Twitter:before {
    content: "\f081";
}
.Instagram:before {
    content: "\f16d";
}

@media (max-width: 670px){
    .Facebook:before,
    .Twitter:before,
    .Instagram:before {
        margin: 0;
    }
}


#pop-up-img-mask{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #1119;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
#pop-up-img{
    position: relative;
    width: 95%;
    max-width: 1000px;
}
#pop-up-img>img{
    width: 100%;
}
#pop-up-img-close{
    position: absolute;
    content: "";
    height: 50px;
    width: 50px;
    font-size: 1.7em;
    top: -20px;
    right: -20px;
    font-weight: 800;
    color: #fff;
    background: #111;
    border: solid 2px #fff;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
#pop-up-img-close:hover{
    font-size: 2.2em;
}


.shop-imgs{
    width: 100%;
    display: flex;
    margin: 0 0 20px;
    justify-content: space-between;
}
.shop-img{
    position: relative;
    width: 24%;
    background: #3333;
}
.shop-img::before {
    content: "";
    display: block;
    padding-top: 75%;
}
.shop-img>img{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a.tel-href{
    text-decoration: none;
}

p.lunch-menu-comment {
    margin: 0 0 1rem;
}